/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato'; /* This sets the font for all text unless overridden */
    line-height: 1.6;
    overflow-x: hidden; /* Moved from html to body for consistency */
    padding-left: 100px;
    padding-right: 100px;

}

/* Masthead Styles */
.masthead {
    background-color: #f0f0f0; /* Light background */
    color: #000; /* Black text */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.masthead h1 {
    font-size: 2.5em;
    margin: 0;
}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.program-by {
    font-size: 1.2em;
    margin: 5px 0;
}

.quote {
    font-size: 1.1em;
    margin: 10px 0 0;
    max-width: 800px;
}

.quote em {
    font-style: italic;
    font-weight: normal;
}

/* Responsive Design */
@media (max-width: 600px) {
    .masthead h1 {
        font-size: 2em;
    }

    .program-by {
        font-size: 1em;
    }

    .quote {
        font-size: 1em;
    }
}
/* --------------------------------- */


/* Tab styles */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}
/* -------------------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

/* Input form table styling */

.input-table {
    /*width: 100%;*/
    margin: 0 auto;
    max-width: 1200px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.input-table th, .input-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.input-table th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
}

.input-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.input-table tr:hover {
    background-color: #f1f1f1;
}

.input-table select, .input-table input[type="text"], .input-table input[type="time"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.input-table button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.input-table button:hover {
    background-color: #45a049;
}

/* --------------------- */

.date-header {
    margin-top: 20px;
}

.pale-green {
    background-color: #ccffcc;
}

.pale-orange {
    background-color: #fde8d7;
}

.no-umpire-red {
    background-color: #d8000c;
}

.color-key {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.key-square {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.disclaimer-banner {
    background-color: #ffffcc;
    color: #333;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.content {
    padding: 60px 10px 20px;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 10px 0;

    background-color: #007B17; /*EUMHC Green*/
    color: white;

    font-size: 25px;
    z-index: 1000;
}

.bar_content {
    margin-left: 120px;
    display: block;
    width: calc(100% - 120px);
    transform: translateX(100%);
    animation: move 30s linear infinite;
}

@keyframes move {
    to {
        transform: translateX(-100%);
    }
}

/* Styling for the side navigation bar */
.sidebar {
    position: fixed;
    left: 0;
    top: 6.8%;
    width: 50px;
    height: 100%;
    overflow-y: auto;
    background-color: #f0f0f0;
    padding: 20px 5px;
    box-sizing: border-box;
    transition: width 0.3s ease, padding 0.3s ease;
}

.sidebar.expanded {
    width: 250px;
    padding: 20px;
}

.sidebar a,
.sidebar h3,
.sidebar h4 {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.sidebar.expanded a,
.sidebar.expanded h3,
.sidebar.expanded h4 {
    opacity: 1;
}

.sidebar-toggle {
    position: fixed;
    left: 0;
    top: 6.8%;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: left 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    z-index: 1000;
}

.sidebar.expanded ~ .sidebar-toggle {
    left: 250px;
}

.sidebar-toggle:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

/* --------------------------------------  */


.timeline-chart {
    display: grid;
    grid-template-columns: repeat(144, 1fr); /* 144 columns for 12 hours at 5-minute intervals */
    grid-auto-rows: minmax(50px, auto);
    gap: 2px;
    padding: 20px;
    background-color: #f4f4f4;
    position: relative;
}

.game-event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 10px;
    border: 1px solid gray;
}


.timeline {
    grid-row-start: auto;
    width: 100%;
    grid-row: -1;
}

.time {
    text-align: left;
    padding: 5px;
    color: #333;
    position: relative;
}

.time::before {
    content: '';
    position: absolute;
    top: -10px; /* Position the tick above the label */
    left: 0%; /* Align to the left edge of the cell */
    width: 2px; /* Thickness of the tick */
    height: 15px; /* Length of the tick */
    background-color: #333;
}

.game-event-tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position above the game-event-container */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: nowrap;
}

.game-event-container:hover .game-event-tooltip {
    display: block;
}


.error-message {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin: 20px 0;
    padding: 10px 20px;
    color: #d8000c;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message p {
    margin: 0;
    padding: 0;
}


.bright-red-row {
    background-color: #ffdddd;
    color: #d8000c;
}

.bright-red-row td:first-child {
    border-left: 6px solid #f44336;
    padding-left: 14px;
}

.bright-red-row td {
    font-size: 18px;
}

/* Styling for the csv file upload */
/* ############################### */
.upload-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start; /* Align items to the start (left-aligned) */
}

.upload-container h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.file-input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.file-input input[type="file"] {
    display: none;
}

.file-input label {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.file-input label:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.file-input label:active {
    background-color: #004080;
    transform: translateY(0);
}

.file-input label::before {
    content: "Choose File";
}

.file-input input[type="file"]:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.file-name {
    font-size: 0.9em;
    color: #555;
    flex-grow: 1;
}

.upload-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%; /* Make button full width */
    text-align: center; /* Center text inside button */
}

.upload-btn:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.upload-btn:active {
    background-color: #1e7e34;
    transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 768px) {
    .upload-container {
        padding: 15px;
    }

    .file-input {
        flex-direction: column;
        gap: 10px;
    }

    .file-input label, .upload-btn {
        width: 100%;
        text-align: center;
    }
}

/* csv file upload style end */
/* ############################ */

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Style for disabled upload button */
.upload-btn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    transition: 0.3s;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* Collapsable fixture date details */
.date-header {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-header:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.date-header:active {
    background-color: #d0d0d0;
    transform: translateY(0);
}

.date-title {
    flex: 1;
}

.additional-info {
    text-align: right; /* Align text to the right */
    padding-left: 20px; /* Add some padding to separate from the title */
}

/* CSS for collapsible content with animations */

.collapsible-content {
    overflow: hidden;
    transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
    max-height: 0;
    opacity: 0;
}

.collapsible-content.active {
    max-height: none; /* Allow full expansion */
    opacity: 1;
}


/* Additional styling for the date-section */
.date-section {
    margin-bottom: 20px;
}

/* -----       */

/* CSS for the notification banner */
.notification-banner {
    background-color: #ffcc00;
    color: #000;
    padding: 15px;
    position: fixed;
    top: -100px; /* Start off the screen */
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: top 0.5s ease, opacity 0.5s ease; /* Animate top and opacity */
    opacity: 0;
}

.notification-banner.show {
    top: 0; /* Slide down into view */
    opacity: 1; /* Fade in */
}

.notification-banner.hide {
    top: -100px; /* Slide up out of view */
    opacity: 0; /* Fade out */
}

.notification-banner p {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.notification-banner a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.notification-banner .close-banner {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

/* Style for the close button */
.notification-banner .close-banner {
    background-color: darkgrey;
    color: white; /* White text */
    border: none; /* Remove borders */
    padding: 10px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease, transform 0.1s ease; /* Smooth transition */
}

.notification-banner .close-banner:hover {
    background-color: #d32f2f; /* Darker red */
}

.notification-banner .close-banner:active {
    background-color: #b71c1c; /* Even darker red */
    transform: scale(0.95); /* Slightly reduce size */
}


/* All the nav testing css */
:root {
    --background: #18283b;
    --navbar-width: 300px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #f5f6fa;
    --navbar-dark-secondary: #8392a5;
    --navbar-light-primary: #2c3e50;
    --navbar-light-secondary: #18283b;
}

/* Remove toggle button styles */
#nav-bar {
    position: fixed;
    left: 1vw;
    top: 68px;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Lato, sans-serif;
    overflow: hidden;
    user-select: none;
    width: var(--navbar-width-min);
    transition: width .2s;
    padding-top: 30px;
}

/* Expand navbar on hover */
#nav-bar:hover {
    width: var(--navbar-width);
}

/* Adjust header width */
#nav-header {
    position: relative;
    width: calc(var(--navbar-width-min) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .2s;
    left: 16px;
}

#nav-bar:hover #nav-header {
    width: calc(var(--navbar-width) - 16px);
}

/* Hide title initially and show on hover */
#nav-title {
    font-size: 1.5rem;
    transition: opacity 0.2s, visibility 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    visibility: hidden;
}

#nav-bar:hover #nav-title {
    opacity: 1;
    visibility: visible;
}

label[for="nav-toggle"], #nav-toggle {
    display: none;
}

#nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background .2s;
}

#nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width-min);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width .2s, opacity 0.2s, visibility 0.2s;
    opacity: 0;
    visibility: hidden;
}

#nav-bar:hover #nav-content {
    width: var(--navbar-width);
    opacity: 1;
    visibility: visible;
}

#nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
}

#nav-content::-webkit-scrollbar-button {
    height: 16px;
}

#nav-content-highlight {
    position: absolute;
    left: 16px;
    top: 16px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    color: var(--navbar-dark-primary);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s;
    z-index: 0; /* Ensure it appears behind the nav buttons */
}

#nav-content-highlight:before,
#nav-content-highlight:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
}

#nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
}

.nav-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color .2s;
}

.nav-button span {
    transition: opacity 1s;
}

.nav-button .fas {
    transition: min-width .2s;
}

.nav-button:hover {
    color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
    top: 16px;
}

.nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
    top: calc(16px + 54px);
}

.nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
    top: calc(16px + 108px);
}

.nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
    top: calc(16px + 162px);
}

.nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
    top: calc(16px + 216px);
}

.nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
    top: calc(16px + 270px);
}

.nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
    top: calc(16px + 324px);
}

.nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
    top: calc(16px + 378px);
}

.nav-button:nth-of-type(9):hover ~ #nav-content-highlight {
    top: calc(16px + 432px);
}

.nav-button:nth-of-type(10):hover ~ #nav-content-highlight {
    top: calc(16px + 486px);
}

.nav-button:nth-of-type(11):hover ~ #nav-content-highlight {
    top: calc(16px + 540px);
}

.nav-button:nth-of-type(12):hover ~ #nav-content-highlight {
    top: calc(16px + 594px);
}

.nav-button:nth-of-type(13):hover ~ #nav-content-highlight {
    top: calc(16px + 648px);
}


#nav-bar .fas {
    min-width: 3rem;
    text-align: center;
}

#nav-footer {
    position: relative;
    width: var(--navbar-width-min);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width .2s, height .2s, opacity 0.2s, visibility 0.2s;
    opacity: 0;
    visibility: hidden;
}

#nav-bar:hover #nav-footer {
    width: var(--navbar-width);
    opacity: 1;
    visibility: visible;
}

#nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

#nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: .2s;
}

#nav-footer-avatar img {
    height: 100%;
}

#nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
}

#nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: .6rem;
}

#nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: .8rem;
    overflow: auto;
}

#nav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#nav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
}


