/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato'; /* This sets the font for all text unless overridden */
    line-height: 1.6;
    overflow-x: hidden; /* Moved from html to body for consistency */
    padding-left: 250px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: scroll;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

.date-header {
    margin-top: 20px;
}

.pale-green {
    background-color: #ccffcc;
}

.pale-orange {
    background-color: #fde8d7;
}

.color-key {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.key-square {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.disclaimer-banner {
    background-color: #ffffcc; /* Light yellow background for visibility */
    color: #333; /* Dark text for contrast */
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc; /* subtle separation from the rest of the page */
    font-size: 14px; /* Adjust based on preference */
}

.content {
    padding: 60px 10px 20px;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 10px 0;

    background-color: #add8e6; /* Pastel blue */
    color: black;

    font-size: 25px;
    z-index: 1000;
}

.bar_content {
    display: block; /* Important to give the content a width */

    width: 100%;
    transform: translateX(100%); /* Animation start out of the screen */

    /* Add the animation */
    animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
    to {
        transform: translateX(-100%);
    }
}

.sidebar {
    position: fixed; /* Or `absolute` if you prefer */
    left: 0;
    top: 6.8%;
    width: 200px; /* Adjust width as needed */
    height: 100%;
    overflow-y: auto; /* Enable scrolling if the content is too long */
    background-color: #f0f0f0; /* Light grey background */
    padding: 20px;
}

.timeline-chart {
    display: grid;
    grid-template-columns: repeat(144, 1fr); /* 144 columns for 12 hours at 5-minute intervals */
    grid-auto-rows: minmax(50px, auto); /* Adjust row height as needed */
    gap: 2px; /* Smaller gap for a more compact layout */
    padding: 20px;
    background-color: #f4f4f4;
    position: relative; /* For absolute positioning of ticks */
}

.game-event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 10px;
    border-radius: 5px;
}


.timeline {
    grid-row-start: auto;
    width: 100%;
    /* Ensure the timeline is always the last row */
    grid-row: -1;
    /* Additional styling */
}

.time {
    text-align: left; /* Align text to the left */
    padding: 5px;
    color: #333;
    position: relative; /* For absolute positioning of ticks */
}

.time::before {
    content: '';
    position: absolute;
    top: -10px; /* Position the tick above the label */
    left: 0%; /* Align to the left edge of the cell */
    width: 2px; /* Thickness of the tick */
    height: 15px; /* Length of the tick */
    background-color: #333;
}

.game-event-tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position above the game-event-container */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: nowrap;
}

.game-event-container:hover .game-event-tooltip {
    display: block;
}






.error-message {
    background-color: #ffdddd; /* Light red background */
    border-left: 6px solid #f44336; /* Darker red border on the left for emphasis */
    margin: 20px 0; /* Add some margin for spacing */
    padding: 10px 20px; /* Padding for spacing inside the div */
    color: #d8000c; /* Dark red text color for better readability */
    font-size: 16px; /* Slightly larger font size for clarity */
    border-radius: 5px; /* Optional: Rounds the corners of the border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow to make the error message "pop" */
}

.error-message p {
    margin: 0; /* Removes default margin from the paragraph to control spacing more precisely */
    padding: 0; /* Removes default padding for similar reasons */
}


.bright-red-row {
    background-color: #ffdddd; /* Light red background similar to .error-message */
    color: #d8000c; /* Dark red text color for contrast and readability */
    /* Borders in table rows behave differently than divs.
       If you want a left border effect, consider using a pseudo-element or first cell styling */
}

.bright-red-row td:first-child {
    border-left: 6px solid #f44336; /* Darker red border on the left for emphasis */
    padding-left: 14px; /* Adjust padding to compensate for the border */
}

/* Optional: Apply styling to text within the row for consistency */
.bright-red-row td {
    font-size: 16px; /* Slightly larger font size for clarity */
    font-family: Arial, sans-serif; /* Consistent font */
}

