<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>The BuzzBot</title>
</head>
<body>

<div id="top">
    <h1>EUMHC BuzzBot Umpiring Assignments</h1>
</div>
A program by Callum Alexander<br>

<em>"If the EUHC Cinematic Universe allowed Jack Mead, Ed Bury, and I to do the umpiring assignments for EUMHC together
    at the same time. Then times that by 10 million. That is The BuzzBot"</em>

<div class="bar">
            <span class="bar_content" id="tagline">
                BuzzBot says, "{{ taglines[0] }}"
            </span>
</div>


<div class="sidebar">

    <h4>Quick Navigation</h4>

    <a href="#top">Back to the top</a>
    <br><br>

    {% for date, games in games_by_date.items() %}
    <a href="#{{ date.strftime('%Y-%m-%d') }}">
        {{ date.strftime('%A, %d %B, %Y') }}
    </a>
    <br>
    {% endfor %}
</div>

{% for date, games in games_by_date.items() %}
<div class="date-header" id="{{ date.strftime('%Y-%m-%d') }}">
    <h2>Assignments for {{ date.strftime('%A, %d %B, %Y') }}</h2>
</div>

<div class="color-key">
    <div class="key-square pale-green"></div>
    <span>Home</span>
    <div class="key-square pale-red"></div>
    <span>Away</span>
</div>

<div class="disclaimer-banner">
    DISCLAIMER: Always doublecheck and cross-reference umpiring assignments given by The BuzzBot
</div>

<table>
    <thead>
    <tr>
        <th>Uni Team</th>
        <th>Opposition</th>
        <th>Location</th>
        <th>Pushback</th>
        <th>End Time</th>
        <th>Umpiring Team</th>
        <th>Umpires Needed</th>
        <th>Eligible Teams</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr class="{{ 'pale-green' if game.location == 'Peffermill' else 'pale-red' }}">
        <td>{{ game.home }}</td>
        <td>{{ game.away }}</td>
        <td>{{ game.location }}</td>
        <!--                        <td>{{ game.start_time.strftime('%Y-%m-%d %H:%M') }}</td>-->
        <!--                        <td>{{ game.end_time.strftime('%Y-%m-%d %H:%M') }}</td>-->
        <td>{{ game.start_time.strftime('%H:%M') }}</td>
        <td>{{ game.end_time.strftime('%H:%M') }}</td>
        <td><b>{{ game.covering_team }}</b></td>
        <td>{{ game.umpires_required }}</td>
        <td>{{ game.eligible_teams|join(', ') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div id="timeline-container">
    <div id="timeline"></div>
</div>

<hr>
{% else %}
<h2>No games scheduled.</h2>
{% endfor %}


<script>
    // Convert your taglines array to JavaScript
    const taglines = {
    {
        taglines | tojson
    }
    }
    ;

    // Function to change the tagline
    function changeTagline() {
        const taglineElement = document.getElementById('tagline');
        const randomTagline = `BuzzBot says, "${taglines[Math.floor(Math.random() * taglines.length)]}"`;
        taglineElement.innerHTML = randomTagline;
    }

    // Listen for the end of the animation
    const barContent = document.querySelector('.bar_content');
    barContent.addEventListener('animationiteration', changeTagline);
</script>

</body>
</html>

