<!-- error.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<h1>An Error Occurred</h1>

<p><b>Hello user, somewhere along the line, you have been a complete spoon and not followed the instructions correctly
    in regard to the input format.</b> Please see the below error message that will probably help you fix the problem to
    ensure that your idiot ass doesn't do that again.</p>

<h3>The error message I was talking about</h3>

<div class="error-message">
    <p>{{ error_message }}</p>
</div>

<a href="/">Go Back to Home</a>
</body>
</html>