<!-- error.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <style>
        body {
            padding-left: 5%;
        }
    </style>
</head>
<body>
<h1>An Error Occurred</h1>

<p><b>Hello user, somewhere along the line, you have been a complete spoon and not followed the instructions correctly
    in regard to the input format.</b> Please see the below error message that will probably help you fix the problem to
    ensure that your idiot ass doesn't do that again.</p>

<h3>The error {{ 'messages' if error_messages|length > 1 else 'message' }} I was talking about:</h3>

<div class="error-messages">
    {% if error_messages %}
    <ul>
        {% for message in error_messages %}
        <div class="error-message">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>No specific error messages provided.</p>
    {% endif %}
</div>


<h3>Please return to <code>input.csv</code> and correct your mistakes</h3>
<a href="/">Click here to retry</a>
</body>
</html>